.FeedbackController {
	.FeedbackButton {
		// positioning
		position: fixed;
		right: 100px;							// placement adjust
		z-index: 1000;
		// button hover effect
		bottom: var(--buttonOffset);
		overflow-y: hidden;
		// dimensions
		width: 200px;
		// ui
		background-color: var(--buttonBgColor);
		color: var(--buttonTextColor);
		border-radius: 5px 5px 0px 0px;			// placement adjust
		text-align: center;
		cursor: pointer;
		// transition
		transition: bottom ease-in-out 0.4s;	// placement adjust

		// container with icon and text

		.FeedbackTextContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 10px 0px;

			.FeedbackIcon {
				padding-right: 10px;
			}
			.FeedbackText {
				font-weight: 600;
			}
		}
	}

	.FeedbackButton:hover {
		bottom: 0px;
	}
}
