.FeedbackController {
	.FeedbackButton {
		// positioning
		position: fixed;
		right: 100px;
		z-index: 1000;
		// make the default button disappear under the screen
		bottom: -30px;
		overflow-y: hidden;
		// dimensions
		width: 200px;
		// ui
		background-color: #1e3c82;
		color: white;
		border-radius: 5px 5px 0px 0px;
		text-align: center;
		cursor: pointer;
		// transition
		transition: bottom ease-in-out 0.4s;

		// container with icon and text

		.FeedbackTextContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 10px 0px;

			.FeedbackIcon {
				padding-right: 10px;
			}
			.FeedbackText {
				font-weight: 600;
			}
		}
	}

	.FeedbackButton:hover {
		bottom: 0px;
	}
}
